body {
  background-color: black;
  color: whitesmoke;
}

h1,
h2,
footer {
  color: orchid;
  text-align: center;
}

h4 {
  color: lightpink;
}

.header-nav-border-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  width: 150px;
  padding: 5px;
  border: 1.5px solid orchid;
}

button:hover {
  background-color: lightpink;
  cursor: pointer;
}

a:hover {
  background-color: lightpink;
  cursor: pointer;
}
