body {
  background-color: black;
  color: whitesmoke;
  font-family: "Times New Roman", sans-serif;
}

h1,
h2 {
  color: white;
  text-align: center;
}

h2,
h4,
footer {
  color: purple;
}

footer {
  text-align: right;
}

.header-nav-border-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  width: fit-content;
  padding: 9px;
  border: 3px solid purple;
}

button:hover,
a:hover {
  background-color: orchid;
  cursor: pointer;
}
